/*
48494B - Texto
DCDCDC - Segundario
1E90FF - Detalle/botones
*/

* {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 2em !important;
  color: #48494B;
}

h2 {
  font-size: 1.5em !important;
  color: #48494B;
}

p {
  font-size: 1em;
  color: #48494B;
}

label {
  color: #48494B;
}

small {
  color: #48494B;
}