.fa-trash-alt {
    cursor: pointer;
}

.topic {
    width: 80%;
}

.plus-minus {
    width: 20%;
}

i {
    cursor: pointer;
}

.plus {
    color: #008000;
}

.minus {
    color: #ff0000;
}

.plus,
.minus {
    width: 50%;
}

.custom-file-label {
    box-shadow: none !important;
    border: 2px solid #dcdcdc;
}

.description {
    resize: none;
}
